includes:
  - vendor/happyprime/coding-standards/phpstan.neon.dist

parameters:
  level: max
  paths:
    - plugin.php
    - uninstall.php
    - src
    - tests
  excludePaths:
    - .dev/*
    - vendor/*
    - node_modules/*
